asttokens==2.4.1
bitarray==2.9.2; sys_platform == 'win32'
bitstring==4.1.4; sys_platform == 'win32'
async-timeout==4.0.3; sys_platform == 'linux'
bleak==0.21.1
blinker==1.4; sys_platform == 'linux'
cffi==1.16.0; sys_platform == 'linux'
colorama==0.4.6
comm==0.2.1
cryptography==3.4.8; sys_platform == 'linux'
dbus-fast==2.21.2; sys_platform == 'linux'
dbus-python==1.2.18; sys_platform == 'linux'
debugpy==1.8.0
decorator==5.1.1
distro==1.7.0; sys_platform == 'linux'
exceptiongroup==1.2.1; sys_platform == 'linux'
executing==2.0.1
fixedpoint==1.0.1
greenlet==3.0.3; sys_platform == 'linux'
httplib2==0.20.2; sys_platform == 'linux'
importlib-metadata==4.6.4; sys_platform == 'linux'
iniconfig==2.0.0
ipykernel==6.29.1
ipython==8.21.0
jedi==0.19.1
jeepney==0.7.1; sys_platform == 'linux'
jupyter_client==8.6.0
jupyter_core==5.7.1
keyring==23.5.0; sys_platform == 'linux'
launchpadlib==1.10.16; sys_platform == 'linux'
lazr.restfulclient==0.14.4; sys_platform == 'linux'
lazr.uri==1.0.6; sys_platform == 'linux'
matplotlib-inline==0.1.6
more-itertools==8.10.0; sys_platform == 'linux'
msgpack==1.0.3; sys_platform == 'linux'
nest-asyncio==1.6.0
netifaces==0.11.0; sys_platform == 'linux'
numpy==1.26.4
oauthlib==3.2.0; sys_platform == 'linux'
packaging==23.2
parso==0.8.3
pexpect==4.9.0; sys_platform == 'linux'
platformdirs==4.2.0
pluggy==1.4.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0; sys_platform == 'linux'
pure-eval==0.2.2
pyaml==24.4.0
pycairo==1.26.0; sys_platform == 'linux'
pycparser==2.22; sys_platform == 'linux'
Pygments==2.17.2
PyGObject==3.42.1; sys_platform == 'linux'
PyJWT==2.3.0; sys_platform == 'linux'
pynvim==0.4.2; sys_platform == 'linux'
pyparsing==2.4.7; sys_platform == 'linux'
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
pyqtgraph==0.13.3
pytest==8.0.2
pytest-qt==4.4.0
python-dateutil==2.8.2
PyYAML==6.0.1
pyzmq==25.1.2
qasync==0.27.1
SecretStorage==3.3.1; sys_platform == 'linux'
setuptools==70.0.0; sys_platform == 'linux'
six==1.16.0
stack-data==0.6.3
systemd-python==234; sys_platform == 'linux'
tomli==2.0.1; sys_platform == 'linux'
tornado==6.4
traitlets==5.14.1
typing_extensions==4.11.0; sys_platform == 'linux'
wadllib==1.3.6; sys_platform == 'linux'
wcwidth==0.2.13
zipp==1.0.0; sys_platform == 'linux'
winrt-runtime==2.0.0b1; sys_platform == 'win32'
winrt-Windows.Devices.Bluetooth==2.0.0b1; sys_platform == 'win32'
winrt-Windows.Devices.Bluetooth.Advertisement==2.0.0b1; sys_platform == 'win32'
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==2.0.0b1; sys_platform == 'win32'
winrt-Windows.Devices.Enumeration==2.0.0b1; sys_platform == 'win32'
winrt-Windows.Foundation==2.0.0b1; sys_platform == 'win32'
winrt-Windows.Foundation.Collections==2.0.0b1; sys_platform == 'win32'
winrt-Windows.Storage.Streams==2.0.0b1; sys_platform == 'win32'
